body{
    margin: 0;
    background : grey;
    overflow: hidden;    
    display: flex;
    justify-content: center;
    align-items: center;
}
#inputs{
    display: flex;
    flex-direction: column;

}

#inputs #label{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
#input .display{
    background-color : white;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 5px 7px 5px;

}
button:hover{
    background-color: antiquewhite;
}

.slider{
    -webkit-appearance: none;
    height : 7px;
    outline : none;
    border-radius: 3px;
    margin: 10px;
}
.slider::-webkit-slider-thumb{
    /* -webkit-appearance: none; */
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
}

#networkCanvas{
    background-color: black;
}

#carCanvas{
    background-color: lightgrey;
}