body{
    margin: 0px;
    background : grey;
    overflow: hidden;   
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputs{
    margin:0px;
    display: flex;
    flex-direction: row;
    border-bottom: 2px double #0a0a0a;
    position: relative;
    background:rgba(106, 95, 95, 0.35);
}

#inputs #label{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
#input .display{
    background-color : white;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
}

button{
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 5px 7px 5px;

}
button:hover{
    background-color: antiquewhite;
}

.slider{
    -webkit-appearance: none;
    height : 7px;
    outline : none;
    border-radius: 3px;
    margin: 10px;
}
.slider::-webkit-slider-thumb{
    /* -webkit-appearance: none; */
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
}

#networkCanvas{
    background-color: black;
}

#carCanvas{
    background-color: lightgrey;
}

#scoreChart{
    margin-left: 25px;
    background-color: rgb(255, 253, 253);
    width: 450px;
    height: 1000px;
    border: 2px solid #0a0a0a;
}